
@font-face {
  font-family: 'Rockwell';
  src: url('./assets/fonts/ROCK.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rockwell';
  src: url('./assets/fonts/Rockwell-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 200%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.chart-wrapper {
  width: 100%;
}

.chart-wrapper svg {
  width: 100%;
  display: block; /* removes unwanted right whitespace */
}
